.container {
    max-width: 75%;
    min-width: 75%;
    padding: 0 1rem;
    margin: 0rem auto 0rem;
    line-height: 2;
    /* overflow-y: scroll; */
    max-height: 100%;
    overflow-y: auto;
    /* Enable scrolling */
    /* height: calc(100vh - 8rem); */
    /* Constrain height */
    /* height: calc(100vh - 6rem); */
    /* ADD THIS: Constrain height */
    overflow-y: auto;
    /* ADD THIS: Enable scrolling */
    scrollbar-width: none;
    /* ADD THIS: Hide scrollbar */


}

@media (max-aspect-ratio: 1/1) {
    .container {
        min-width: 95%;
        max-width: 95%;
    }
}

.container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}