.outer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    width: 100vw;
    /* This pushes the h2 and links wrapper to opposite ends */
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    /* padding: 1rem 1rem 0rem 1rem; */
    font-weight: 600;
    font-size: 1.5em;
    max-width: 75%;
    min-height: 3em;
}

/* New style for the links' container */
.linksWrapper {
    display: flex;
    /* This will space the links evenly within THIS container */
    justify-content: space-evenly;
    align-items: center;
    /* Crucial: This makes the container expand to fill empty space */
    flex-grow: 1;
    flex-wrap: wrap;
}

.divider {
    height: 2px;
    width: 75%;
    background: rgba(255, 255, 255, 0.3);
    align-items: center;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.progressFill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--c3);
    border-radius: 5px;
    transition: width 0.1s ease-out;
}

@media (max-aspect-ratio: 1/1) {
    .container {
        max-width: 95%;
        /* Center items on smaller screens, especially when they wrap */
        justify-content: center;
    }

    .divider {
        width: 95%;
    }
}

.container a {
    transition: all 200ms ease-in-out;
    margin: 0.25rem 0.5rem;
}

.container a:hover,
.container a:focus,
.container a:active {
    color: var(--c3);
}

.myName {
    /* Initial "hidden" state for the name */
    opacity: 0;
    transform: translateX(0px);
    max-width: 1px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: opacity .75s ease-in-out, transform .75s ease-in-out, max-width .75s ease-in-out, margin 1s ease-in-out;
}

@media (min-aspect-ratio: 1/1) {

    .myName.show {
        /* Final "visible" state for the name */
        opacity: 1;
        transform: translateX(0);
        max-width: 300px;
        /* margin: 0.25rem 0.5rem; */
    }
}