.content3 div{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: pink;
    padding: 1em;
    min-height: 100px;
    min-width: 100px;
    margin: 1em;
}

.container {
  /* height: calc(100vh - 5em); */
  padding: 0 0rem;
  /* padding-top: 4rem; */
  /* width: 75%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  /* align-items: center; */
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
  /* height: 100%; */
  /* height: 100svh; */
  scrollbar-width: none;
  /* margin: 0em; */
}

.aboutSection {
/* background-color: pink; */
  /* height: 100%; */
  /* max-width: 100%;
  min-width: 100%; */
  /* text-align: left; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* scrollbar-width: thin; */
  /* overflow-y: auto; */
  /* padding: 0rem 1rem; */
  /* overflow: visible; */
  /* backdrop-filter: blur(5px); */


  /* overscroll-behavior: contain */
}

.calWrapperBig{
  margin-top: 4em;
    border-radius: 20px;
    width: 100%;
    height: 70vh;
    /* width: 800px; */
    overflow:hidden;
    filter: invert(0);
}

/* .calWrapperSmall{
    border-radius: 20px;
    /* width: 400px; */
    /* overflow:hidden; */
/* }  */

/* @media (min-aspect-ratio: 1/1) {

  .calWrapperSmall {
    display: none;
    height: 0px;
  }


}
@media (max-aspect-ratio: 1/1) {

  .calWrapperBig {
    display: none;
    height: 0px;
  }


} */