.container {
  min-height: 0;
  padding: 0 0rem;
  /* padding-top: 4rem; */
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  font-family: freight-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
  /* height: 100%; */
  height: 100svh;
  scrollbar-width: none;
  /* margin: 0em; */
}





.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;


}

.title {
  margin: 0 0 .2rem;
  line-height: 1.15;
  font-size: 3.6rem;
}

.title {
  text-align: center;
}

.title,
.description {
  text-align: center;
}


.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.findme {
  padding-top: 95px;
}

.main {
  min-width: 75%;
  height: 100%;
  padding-top: 2em;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  /* padding-bottom: 5em; */
  /* padding-top: 3em */
}

.socials a {
  display: flex;
  justify-content: center;
}

.socials img {
  transition: all 0.3s ease;
}

.socials img:hover {
  transform: scale(1.2);
}



.background {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed !important;
  top: 0;
  left: 0;

}

.mainAppContainer {
  display: inline;
  /* overflow: hidden; */
  touch-action: none;
  max-height: 100vh
    /* Hide scrollbars */
}


.backgroundContent {
  width: 100vw;
  height: 100vh;

  z-index: -1;
  position: fixed !important;
  top: 0;
  left: 0;
  /* background-color: var(--c1); */
  /* background-color: red; */
}



.topContent {
  /* overflow: hidden; */
  touch-action: none;
  display: flex;
  flex-direction: column;
  height: 100dvh;

  transition: backdrop-filter 1s ease-in-out;
}




.blurBackdrop {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  /* For Safari support */
}

.main h1 {
  margin-bottom: 1.5rem;
}

.main p {
  margin-bottom: .3rem;
  /* line-height: 5rem; */
}

.container a {
  position: relative;
  color: var(--c3);
  text-decoration: underline;
  text-shadow: none;
  z-index: 2;
}

.aboutSection {
  height: 100%;
  max-width: 100%;
  min-width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scrollbar-width: thin;
  overflow-y: auto;
  padding: 0rem 1rem;
  /* overflow: visible; */
  /* backdrop-filter: blur(5px); */


  /* overscroll-behavior: contain */
}

.aboutSection .p {
  text-align: left;
  margin-bottom: 3em;
  color: blue;
}

/* Snap scrolling container */
.snapContainer {
  height: 100%;
  /* width: 100vh; */
  width: 75%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  /* scroll-snap-type: none; */
  scroll-behavior: smooth;
  /* scroll-snap-type: mandatory; */
  scrollbar-width: none;


  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: none;
  /* Prevent bounce scrolling */
}

@media (max-aspect-ratio: 1/1) {

  .snapContainer {
    width: 95%
  }


}

.snapContainer::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.hideArrow {
  opacity: 0;
}

.nameSection {
  padding-bottom: 3rem;
  height: 100%
}

/* Individual sections for snap scrolling */
.snapSection {
  min-height: 100%;
  /* height: auto; */
  height: 100%;
  /* padding-top: 2rem; */
  padding-bottom: 1rem;
  margin-bottom: 10rem;
  overflow: visible;
  scroll-snap-align: start;
  /* scroll-snap-align: none; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* justify-content: space-between; */
  align-items: center;


  scroll-snap-stop: always;
  /* Force stopping at each section */


}

/* Scroll indicator styling */
.scrollIndicator {
  /* position: absolute; */
  /* bottom: 30px;/ */
  /* left: 50%; */
  /* transform: translateX(-50%); */
  z-index: 10;
  cursor: pointer;
  padding-top: 0em;
  padding-bottom: 0em;
}

/* Down arrow styling */
.arrowDown {
  width: 20px;
  height: 20px;
  border-right: 3px solid var(--c4);
  border-bottom: 3px solid var(--c4);
  transform: rotate(45deg);
  animation: bounce 2s infinite;
  margin: 0 auto;
}

/* Up arrow styling */
.arrowUp {
  width: 20px;
  height: 20px;
  border-right: 3px solid var(--c4);
  border-bottom: 3px solid var(--c4);
  transform: rotate(-135deg);
  animation: bounce 2s infinite;
  margin: 0 auto;
}

/* Bounce animation */
@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0) rotate(45deg);
  }

  40% {
    transform: translateY(-10px) rotate(45deg);
  }

  60% {
    transform: translateY(-5px) rotate(45deg);
  }
}

/* Adjust animation for up arrow */
.arrowUp {
  animation: bounceUp 2s infinite;
}

@keyframes bounceUp {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0) rotate(-135deg);
  }

  40% {
    transform: translateY(10px) rotate(-135deg);
  }

  60% {
    transform: translateY(5px) rotate(-135deg);
  }
}

.news {
  margin-top: auto;
  align-self: flex-end;

}



.floatingpfp {
  float: right; 
  margin-left: 15px;
  

}