.postlist {

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.postlist article {
    transition: all 0.2s ease-in-out;
}

.postlist article:hover {
    color: var(--c3);
}

.postHeading {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: stretch;
    margin: 0;

}

.postIndex h1 {
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.postHeading h2 {
    line-height: 2;
    margin: 0;
}

.postHeading h3 {
    /* line-height: 1 */
    margin: 0
}



/* .postHeading time {
    height: 100%;
} */

.article p {
    margin-top: -.75em;
    margin-right: 1rem;
    /* color: green; */
    font-style: italic;
    font-size: 13px;
    margin-left: 1rem;
    text-align: justify;
    text-justify: inter-word;
}