.postlist {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
        /* gap: 2rem; */


}

.postlist article {
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    padding: 15px 00px;

}

.postlist article:hover {
    color: var(--c3);
}

.postHeading {
    display: flex;
    justify-content: space-between;
    /* justify-content: left; */
    text-align: center;
    align-items: center;
    margin: 0;
    gap: 3rem;
    /* margin-left: 20%;
    margin-right: 20%; */
    margin: auto;
    /* width: 66%; */

}

.postIndex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

.postIndex h1 {
    width: 100%;
    text-align: center;
    font-size: 40px;
    border-bottom: 1px solid var(--c4, #333);
}

.postHeading h2 {
    line-height: 2;
    margin: 0;
}

.postHeading time {
    /* line-height: 1 */
    /* margin: 0
     */
    font-style: italic;
}



/* .postHeading time {
    height: 100%;
} */

.article p {
    margin-top: -.75em;
    margin-right: 1rem;
    /* color: green; */
    font-style: italic;
    font-size: 13px;
    margin-left: 1rem;
    text-align: justify;
    text-justify: inter-word;
}